.about {
    width: 1400px;
}
.about__settings {
    padding-top: 111px;
    color: $color-text;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
}


.about__text {
    width: 1271px;
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 80px;
}
.about__green {
    width: 567px;
    color: $color-text;
    font-weight: 400;
    font-size: 24px;
}
.about_purple {
    color: $color-text;
    font-weight: 400;
    font-size: 24px;
    width: 567px;
}


.main2__container {
    width: 1668px;
    display: flex;
    margin-left: 275px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.cool__devices {
    padding-top: 59px;
    
}
.cool_text1 {
    padding-bottom: 40px;
    color: $color-text;
    font-weight: 700;
    font-size: 64px;
    width: 567px;
}
.cool_text1 strong{
    color: $text2;
}
.cool__text2 {
    color: $color-text;
    font-weight: 400;
    font-size: 24px;
}
.about__devices__img {
    width: 960px;
    height: 517px;
}
