.about {
    width: 1400px;
    display: flex;
}
.about__settings {
    padding-top: 111px;
    color: $color-text;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
}

.about__text {
    width: 1271px;
    display: flex;
    padding-top: 60px;
}
.about__phone {
    color: $color-text;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 100px;
}
.about_info {
    color: $color-text;
    padding-left: 137px;
    font-weight: 400;
    font-size: 24px;
}