
.main__container {
    width: 1400px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    position: relative;
}
.main_wrapper {
    width: 1400px;
    color: $color-text;
}
.main_img {
    align-items: center;
    justify-content: center;
    display: flex;
}

.main__title {
    width: 1400px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    height: 174px;
    text-align: center;
    text-transform: uppercase;
}
.main__title e{
    color: $text1;
}
.main__title i{
    font-style: normal;
    color: $text2
}

.slider-container{
    margin: 0 auto;
    padding: 0 15px;
    width: 1820px;
    overflow: hidden;
}
.slide {
    
    animation-name: move;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-delay: -1;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes move {
    from {
       transform: translateX(-65px);
    }
    to {
       transform: translateX(10px);
    }
 }
 
 @-moz-keyframes move {
    from {
       -moz-transform: translateX(-70px);
    }
    to {
       -moz-transform: translateX(50px);
    }
 }
 
 @-webkit-keyframes move {
    from {
       -webkit-transform: translateX(-70px);
    }
    to {
       -webkit-transform: translateX(50px);
    }
 }

.slider-track {
    width: 1850px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    gap: 52px;
    overflow: hidden;
}


.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 72px;
}