.main__container {
    width: 1950px;
    margin: 0 auto;
    padding: 160px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/img/Ellipse\ green.png'),url('/img/Ellipse\ purple.png');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 40%;
    
 
}
.main_wrapper {
    color: $color-text;
}
.main_img {
    align-items: center;
    justify-content: center;
    display: flex;
}

.main__title {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    height: 174px;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.main__title e{
    color: $text1;
}
.main__title i{
    font-style: normal;
    color: $text2
}

.slider {
}
.slider-track {
    display: flex;
    padding-top: 40px;
    gap: 52px;
}

.slide {
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 72px;
}