/* fonts
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  background-color: #0F0F0F;
  font-family: "Manrope", sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 1430px;
}

.nav-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  padding: 31px 0;
}

.navigation {
  display: flex;
  align-items: center;
  -moz-column-gap: 80px;
       column-gap: 80px;
  font-size: 18px;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
}

.navigation-link {
  color: #FFFFFF;
  -webkit-text-decoration: 0;
          text-decoration: 0;
}

.header__block {
  min-height: 992px;
  background-image: url("/img/header/header.png");
  background-position: center;
  background-repeat: no-repeat;
  justify-content: center;
  display: flex;
}

.btn__header {
  display: flex;
  justify-content: center;
  padding: 869px 796px 130px;
  color: none;
}

button {
  display: inline-block;
  vertical-align: middle;
  background: linear-gradient(to bottom, #31FF6B, #84FF0A, #66FF31);
  background-origin: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 81px;
  width: 328px;
  padding: 24px 40px;
  border-radius: 53px;
  border: none;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
  transition: 0.2s;
}

.main__container {
  width: 1920px;
  margin: 0 auto;
  padding: 160px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/Ellipse green.png"), url("/img/Ellipse purple.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 46%;
}

.main_wrapper {
  color: #FFFFFF;
}

.main_img {
  align-items: center;
  justify-content: center;
  display: flex;
}

.main__title {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  height: 174px;
  text-align: center;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.main__title e {
  color: #6EFF24;
}

.main__title i {
  font-style: normal;
  color: #9124FF;
}

.slider-track {
  width: 2366px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
  gap: 52px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 72px;
}

.logo {
  width: 120px;
  height: 52px;
}

.button-menu {
  background-color: #0F0F0F;
  border: none;
}/*# sourceMappingURL=main.css.map */