/* fonts
font-family: 'Inter', sans-serif;
font-family: 'Manrope', sans-serif;
font-family: 'Poppins', sans-serif;
*/

// colors

$bg1 : #0F0F0F; // основной бг
$color-text: #FFFFFF; // текст цвет
$btn-color: (229.81deg, #31FF6B -29.08%, #84FF0A 32.59%, #66FF31 111.89%); // цвет кнопка
$btn-color-text: #000000; // цвет текса в кнопке
$text1: #6EFF24;
$text2: #9124FF;



//BLOCK
@import "./Block/reset";
@import "./Block/global";
@import "./Block/nav";
@import "./Block/header";
@import "./Block/main__block";



//COMPONENTS
@import "./components/logo";
@import "./components/menu";
@import "./components/burger";

